# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env

# Build output
dist/

# Uploads
uploads/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
coverage/
